.button {
  border: none;
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-sm);
  padding: 1rem 1.2rem;
  font-weight: 500;
}

.button.small {
  font-size: .8rem;
  padding: 0.4rem 0.8rem;
  font-weight: 600;
  text-align: center;
}

.button.medium {
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  text-align: center;
}

.button.large {
  font-size: 1.2rem;
  padding: 1.2rem 2.4rem;
  font-weight: 500;
}
.button.sidebar {
  width: 100%;
}
.button.sidebar:hover {
  background-color: var(--color-primary);
}

.button.primary {
  color: var(--color-grey-navy);
  background-color: var(--color-primary);
}

.button.primary:hover {
  background-color: var(--color-primary-dark);
}

.button.danger {
  color: var(--color-white);
  background-color: var(--color-danger);
}

.button:disabled,
.button.disabled {
  cursor: not-allowed;
  pointer-events: none;
}
.button.primary:disabled,
.button.primary.disabled {
  background-color: var(--primary-color-disabled);
}

.button.contained {
  color: var(--color-white);
  background-color: var(--color-green-yellow);
  text-decoration: none;
}

.button.contained:hover {
  background-color: var(--color-green-yellow-dark);
}

.button.tranparent{
  border: 1px solid var(--color-grey-navy) !important;
  color: var(--color-white);
}
.button.tranparent:hover{
  background-color: var(--color-grey-navy);
}
