.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.file-upload-label {
  display: flex;
  align-items: center;
}

.file-name {
  margin-top: 10px;
  color: var(--color-primary-dark);
}

.error-message {
  margin-top: 10px;
  color: var(--color-danger);
}
