.expandable-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  color: var(--color-primary-dark);
}

.icon {
  margin-right: 0.5rem;
}

.expanded {
  font-weight: bold;
}

.arrow {
  margin-left: auto;
  transition: transform 0.3s ease;
}

.arrow.expanded {
  transform: rotate(90deg);
}

.expandable-content {
  list-style-type: none;
  padding: 0;
  margin-left: 1rem;
}

span svg {
  margin-top: 0.5rem;
}
.icon {
  margin-right: 1rem;
  font-size: 2rem;
  font-weight: 500;
}
