.dccs {
  background-color: #3498db;
  color: white;
  padding: 10px;
  text-align: center;
}

.sidebar-wrapper {
  padding: 10px;
  width: 100%;
}

.sidebar-wrapper div {
  margin-bottom: 20px;
}

.nav-item, .example {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.nav-item:hover, .example:hover {
  background-color: #e0e0e0;
}

.icon {
  margin-right: 8px;
}

.sidebar-wrapper div p {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.ml-op {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar-wrapper div p::before {
  display: inline-block;
  margin-right: 8px;
  transition: transform 0.3s ease;
}

.sidebar-wrapper div p.expanded::before {
  transform: rotate(90deg);
}

.sidebar-wrapper ul.ml {
  list-style-type: none;
  padding-left: 20px;
  display: none;
}

.sidebar-wrapper ul.ml li {
  margin: 5px 0;
}

.sidebar-wrapper div .active {
  color: var(--color-primary);
  font-weight: bold;
  border-left: .7rem solid var(--color-primary);
}
