.dccs{
	background-color: var(--color-primary);
	color: white;
	display: flex;
	align-content: center;
	padding-left: 2rem;
	height: 10%;
	font-size: large;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sidebar-wrapper{
	margin-top: 2rem;
	padding-left: 2rem;
}
