.table-container {
  overflow-x: auto;
  margin-top: 0.8rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
tr {
  border: 1px solid var(--color-grey-dark);
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: var(--color-primary-light);
  font-weight: bold;
  color: var(--color-white);
}

tr:hover {
  background-color: var(--color-grey-navy);
}

.cog-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: var(--color-primary);
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey-navy);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-menu button {
  padding: 8px 12px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.dropdown-menu button:hover {
  background-color: #f0f0f0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .table-container {
    font-size: 0.8rem;
  }
  th,
  td {
    padding: 4px;
    text-align: left;
  }
}
