.table-container {
  margin-top: 0.8rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
tr {
  border: 1px solid var(--color-grey-dark);
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: var(--color-primary-light);
  font-weight: bold;
  color: var(--color-white);
}

tr:hover {
  background-color: var(--color-grey-navy);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .table-container {
    font-size: 0.8rem;
  }
  th,
  td {
    padding: 4px;
    text-align: left;
  }
}
