.search-inputs{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}
.participant-btns {
	display: flex;
	gap: 10px;
}
.participant-list-actions {
	margin-top: 1rem;
	display: flex;
	gap: 10px;
}
.select-button{
  background-color: rgb(192,215,46);
  border: none;
  padding: 0.5rem 1rem;
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 600;
}
.select-button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}