.form-input{
  display: flex;
  flex-direction: column;
  width: 90%;
}

label {
  margin-bottom: .5rem;
  font-style: italic;
  font-size: 1rem;
}

input, select, button {
  margin-bottom: 1rem;
  padding: .3rem;
}

.form-error{
  color: var(--color-danger);
  margin-top: -.1rem;
}