:root {
  --color-primary: #3f9ac9;
  --color-primary-light: #4baada;
  --color-grey-navy: #e7e9ea;
  --color-grey-dark: #ddd;
  --color-white: #fff;
  --color-grey-hover: #f0f0f0;
  --color-primary-dark: #0e5579;
  --color-danger: rgba(199, 76, 76, 0.952);
  --primary-color-disabled: rgba(0, 123, 255, 0.5);
  --secondary-color-disabled: rgba(108, 117, 125, 0.5);
  --color-green-yellow: #c0d72e;
  --color-green-yellow-dark: #a8c020;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  line-height: 1.7;
  min-height: 100vh;
}

