:root {
  --color-primary: #3F9AC9;
  --color-grey-navy: #E7E9EA;
  --color-white:#fff;
  --color-primary-dark: #0e5579;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  line-height: 1.7;
  min-height: 100vh;
}
